/* =============
    Variables
============= */

// Define the breakpoints
$screen-xs-min: 0px;

// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
$white: #fff;
$black: #000;
$flesh: #e8d7c7;
$dusk: #b89078;
$laurel: #a7b8a1;
$parkview: #47493e;
$cliffside: #6f8667;
$banksia: #4b5937;
