/* =============
    Title
============= */
.title {
    h1{
        font-family: Italiana;
        font-weight: 300;
        font-size: 36px;
        text-align: center;
        color: black;
        padding-top: 0px;
        padding-bottom: 16px;

        @include md {
            font-size: 48px;
            text-align: center;
            color: black;
        }

        @include lg {
            font-size: 64px;
            text-align: center;
            color: black;
        }
    }
}