/* =============
    Footer
============= */

.footer {
    .background {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }

    h3 {font-family: Italiana;
        font-weight: 300;
        font-size: 36px;
        color: white;
        text-align: center;
        margin-bottom: -16px;

        @include lg {
            font-size: 48px;
            margin-bottom: 0;
        }
    }

    h6 {
        font-family: Outfit;
        font-weight: 300;
        font-size: 16px;
        color: white;
        text-align: center;
    }

    p {
        font-family: Outfit;
        font-weight: 300;
        font-size: 16px;
        color: white;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        padding: 8px;
    }
    
    li.sm-spacing {
        padding: 4px;
        margin-bottom: -8px;

        @include md {
            padding: 8px;
        }

        @include md {
            padding: 8px;
        }
    }
    .top {
        ul {
            @include md {
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }
        }


        aside {
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            div {
                @include md {
                    padding: 16px;
                }
            }
  
           

            .location {
                padding-right: 16px;
                margin-top: -16px;
                margin-bottom: 16px;

                @include md {
                    margin-top: -8px;
                    margin-bottom: 8px;
                }
            }
            .hours {
                padding-left: 16px;
                margin-top: -16px;
                margin-bottom: 16px;
                  
                @include md {
                    margin-top: -8px;
                    margin-bottom: 8px;
                }
            }
            .phone {
                padding-right: 16px;
                margin-top: 16px;
                margin-bottom: -16px;
                  
                @include md {
                    margin-top: 8px;
                    margin-bottom: -16px;
                }
            }
            .email {
                padding-left: 16px;
                margin-top: 16px;
                margin-bottom: -16px;
  
                @include md {
                    margin-top: 8px;
                    margin-bottom: -16px;
                }
            }        
        }
    }
    
   
    .bottom {
        margin-top: -32px;
        margin-bottom: -32px;

        ul {
            display: flex;
            justify-content: center;
        }
    }
    
    .background{
        background-color:$dusk;
        grid-area: background;
    }
}